*,*::before,*::after{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    flex-direction:column;
    height:100vh;
    padding:2.5em;
}
.light{
    background:white;
}
.dark{
    background:black;
}
body a{
    padding:1em 2em;
    cursor:pointer;
}
.light a{
    color:black;
    border:2px solid black;
}
.dark a{
    color:white;
    border:2px solid white;
}
.light p{
    color:black;
}
.dark p{
    color:white;
}